@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0 0 40px 0;
  font-family: "OpenSans", sans-serif;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.main-header {  
  background: url("../images/banner-mobile.jpg") black no-repeat bottom left;
  background-size: cover;
  position: relative;

  z-index: 1;
}

.main-header:after {
  display: block;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: -1;
}

.logo img {
  width: 179px;
}

.nav-list li:not(:last-child) {
  margin-right: 35px;
}

.nav-list a{
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

.nav-list a:hover {
  border-bottom: 1px solid #d2d5d4;
}

.header-nav__button {
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 20px;
  text-indent: -9999px;
  cursor: pointer;
}

.header-nav__button:before, .header-nav__button:after {
  content:"";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
}

.header-nav__button:before {
  top: 0;
}

.header-nav__button:after {
  bottom: 0;
}

.header-nav__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}

.header-nav .nav-list {
  display: none;
}

.blog-title .h1{
  max-width: 700px;

  text-transform: uppercase;
  color: #fff;
  text-align: center;
    
  margin: 0 auto;
  padding-top: 30px;
}

.trends {
  padding-top: 50px;
}

.widget-title.trends__title {
  font-size: 20px;
}

.trends__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trends__item {
  display: flex;
  align-items: flex-end;

  box-sizing: border-box;

  position: relative;
  z-index: 1;

  height: 320px;

  padding: 0 22px 14px;
  
  border: 1px solid #fff;  
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  background-size: cover;

}

.trends__item:after {
  display: block;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: -1;
}

.trends__item:first-child{
  border-left: none;
  background-image: url("../images/trend1.jpg");
}

.trends__item:nth-child(2){
  background-image: url("../images/trend2.jpg");
}

.trends__item:nth-child(3){
  background-image: url("../images/trend3.jpg");
}

.trends__item:last-child{
  border-right: none;
  background-image: url("../images/trend4.jpg");
}

.trends__item-wrapper {
  padding: 30px;
  border: 2px solid #b59f5b;
}

.trends__item-title {
  margin:0;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
}

.trends__item-title a {  
  color: #fff;
}

.main-content {    
  display: flex;
  padding-top: 45px;
}

.main {
  margin-bottom: 45px;
}

.news .article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.news .article:last-child {
  margin-bottom: 0;
}

.news .image {
  width: 381px;
  display: block;

  margin-right: 30px;

  background: #eee;
}

.news .tags, .trends__tags {
  display: flex;
  list-style: none;
  margin-bottom: 5px;
}

.news .tags a, .trends__tags a {
  margin-right: 17px;

  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
}

.news .tags a:hover, .trends__tags a:hover {
  border-bottom: 1px solid #b59f5b;
}

.news .tags li:last-child a, .trends__tags li:last-child a{
  margin-right: 0;
}

.news .header {  
  margin-bottom: 50px;
}

.news .title {
  margin: 0 0 35px;

  line-height: 24px;
}

.news .title a {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}

.news .title a:hover {
  color: #b59f5b;
}

.news .meta {
  font-size: 12px;
}

.news .date {
  margin-right: 25px;
  color: #888;
}

.news .author {
  color: #000;
  font-weight: bold;
}

.news .excerpt {
  font-size: 15px;
}

.right-sidebar {
  width: 272px;
  min-width: 272px;
}

.sidebar .widget:not(:last-child) {
  padding-bottom: 63px;
}

.widget-title{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.widget-title:after {
  display: block;
  content: '';
  width: 66px;
  height: 3px;
  background: #b59f5b;
  margin: 14px auto 0;
}

.latest-news .article {
  display: flex;
  margin-bottom: 27px;
}

.latest-news .article:last-child{
  margin-bottom: 0;
}

.latest-news .image {
  width: 70px;
  display: block;

  margin-right: 18px;
}

.latest-news .date {
  display: block;
  font-size: 12px;
  color: #888;
  line-height: 1;
  margin-bottom: 4px;
}

.latest-news .title {
  margin: 0;  
  line-height: 18px;
}

.latest-news .title a {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.latest-news .title a:hover {
  color: #b59f5b;
}

.form {
  display: flex;
}

.form .input {
  padding: 16px;
  background: #f4f7f6;

  border: none;
  outline: none;
  border: #f4f7f6 solid 1px;
}

.form .input:focus {
  border: #b59f5b solid 1px; 
  outline: 0;
}

form .input:placeholder {
  color: #939594;
  font-size: 13px;
}

.form .button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;

  cursor: pointer;
  
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  background: #b59f5b;
  color: #fff;

  text-transform: uppercase;
}

.form .button:hover {
  background: #323232;
}

.form .label {
  display: flex;
  flex: 1;
}

.searchform .input {
  width: 100%;
}

.searchform .input:focus {
  border-right: 0;
}

.searchform .button {  
  width: 49px;  
}

.searchform .icon {
  width: 18px;
}

.newsletter form {
  flex-direction: column;
}

.newsletter input {
  margin-bottom: 18px;
  width: 100%;
}

.newsletter button {
  height: 48px;
}

.tags .list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.tags .list-item {
  margin: 0 5px 5px 0;
}

.tags .list-item:last-child {
  margin: 0;
}

.tags .list a {
  display: block;  
  
  padding: 4px 12px;
  border: 2px solid #eee;

  font-size: 12px;
  font-weight: bold;
  color: #000; 
  
  text-transform: uppercase;
}

.tags .list a:hover {
 border-color: #b59f5b
}

.categories .list li {
  padding-bottom: 12px;
  margin-bottom: 18px;

  font-weight: bold;

  border-bottom: 1px solid #eee;
}

.categories .list a {
  font-size: 14px;
  color: #000;
}

.categories .list a:hover {
  color: #b59f5b;
}

.categories .list .sup {
  position: relative;
  top: -5px;

  font-size: 12px;
  color: #b59f5b;
}

.products .widget-title {
  margin-bottom: 0;
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product__item {
  padding: 1.5rem 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product__image .image {
  max-width: 100%;
}

.product__info {
  outline: 2px solid #b59f5b;
  outline-offset: .5rem;
}

.product__title {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0;
}

.social {
  display: flex;
  justify-content: center;

  padding: 30px 0;
  margin-bottom: 74px;

  background: #eee;
}

.social .list {
  display: flex;
}

.social .list li:not(:last-child) {
  margin-right: 25px;
}

.social .icon {
  display: block;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.icon-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.icon-twitter {
  background-image: url("../svg/004-twitter.svg");
}


.icon-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.copyright p{

  font-size: 12px;
  font-weight: bold;
  color: #999;

  text-align: center;
}

.copyright a {
  color: #999;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  //overflow: hidden;
} 

/*
*******************
*                 *
*  Media queries  *
*                 *
*******************
*/

@media (min-width: 641px) and (max-width: 1200px), (max-width: 640px) and (orientation: landscape) {
  .trends__item {
    width: calc(50% - 1px);
  }  
}

@media (min-width: 641px) and (orientation: landscape), (min-width: 1201px) {
  .trends__item {
    width: calc(25% - 1px);
  }  
}
@media (max-width: 641px) {
  .main-header {
    padding: 220px 16px;
    text-align: center;
  }
}

@media (min-width: 641px) {
  .main-header {
    padding: 28px 16px 146px;
    background: url("../images/banner-bg-tablet.jpg") black no-repeat bottom left;
    background-size: cover;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  
    margin-bottom: 80px;
  }

  .blog-title .h1{    
    padding-top: 0;
  }

  .main-content {
    padding-top: 50px;
  }

  .main {      
    margin-right: 35px;
    margin-bottom: 50px
  }

  .product__item {
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .header-nav__button {
    display: none;
  }

  .header-nav .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

@media (min-width: 1201px) {
  .main-header {
    background: url("../images/banner-bg.jpg") black no-repeat center center;
    background-size: cover;
  }

  .blog-title .h1{
    font-size: 45px;
    line-height: 75px;
  }

  .container {
    padding-left: 36px;
    padding-right: 36px;
  }

  .main-content {    
    display: flex;
    padding-top: 60px;
  }

  .main {
    margin-right: 60px;
    margin-bottom: 120px
  }

  .product__item {
    max-width: 33.333%;
  }
}

