@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0 0 40px 0;
  font-family: "OpenSans", sans-serif;
}

input {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;

  padding-left: 15px;
  padding-right: 15px;
}

.main-header {  
  background: url("../images/banner-mobile.jpg") black no-repeat bottom left;
  background-size: cover;
  position: relative;

  z-index: 1;
}

.main-header:after {
  display: block;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: -1;
}

.logo img {
  width: 179px;
}

.nav-list li:not(:last-child) {
  margin-right: 35px;
}

.nav-list a{
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

.nav-list a:hover {
  border-bottom: 1px solid #d2d5d4;
}

.header-nav__button {
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 20px;
  text-indent: -9999px;
  cursor: pointer;
}

.header-nav__button:before, .header-nav__button:after {
  content:"";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
}

.header-nav__button:before {
  top: 0;
}

.header-nav__button:after {
  bottom: 0;
}

.header-nav__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}

.header-nav .nav-list {
  display: none;
}

.blog-title .h1{
  max-width: 700px;

  text-transform: uppercase;
  color: #fff;
  text-align: center;
    
  margin: 0 auto;
  padding-top: 30px;
}

.trends {
  padding-top: 50px;
}

.widget-title.trends__title {
  font-size: 20px;
}

.trends__item {
  display: flex;
  align-items: flex-end;

  box-sizing: border-box;

  position: relative;
  z-index: 1;

  height: 320px;

  padding: 0 22px 14px;
  
  border: 1px solid #fff;  
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  background-size: cover;

}

.trends__item:after {
  display: block;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: -1;
}

.trends__item:first-child{
  border-left: none;
  background-image: url("../images/trend1.jpg");
}

.trends__item:nth-child(2){
  background-image: url("../images/trend2.jpg");
}

.trends__item:nth-child(3){
  background-image: url("../images/trend3.jpg");
}

.trends__item:last-child{
  border-right: none;
  background-image: url("../images/trend4.jpg");
}

.trends__item-wrapper {
  padding: 30px;
  border: 2px solid #b59f5b;
}

.trends__item-title {
  margin:0;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
}

.trends__item-title a {  
  color: #fff;
}

.main-content {    
  padding-top: 45px;
}

.main, .products {
  margin-bottom: 45px;
}

.news .article {
  display: flex;
  flex-wrap: wrap;
}

.news .article:last-child {
  margin-bottom: 0;
}

.news .article__image {
  margin-bottom: 1rem;
}

.news .image {
  width: 100%;
  max-width: 390px;
  display: block;

  margin-right: 30px;

  background: #eee;
}

.news .tags, .trends__tags {
  display: flex;
  list-style: none;
  margin-bottom: 5px;
}

.news .tags a, .trends__tags a {
  margin-right: 17px;

  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
}

.news .tags a:hover, .trends__tags a:hover {
  border-bottom: 1px solid #b59f5b;
}

.news .tags li:last-child a, .trends__tags li:last-child a{
  margin-right: 0;
}

.news .title a {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}

.news .title a:hover {
  color: #b59f5b;
}

.news .meta {
  font-size: 12px;
}

.news .date {
  margin-right: 25px;
  color: #888;
}

.news .author {
  color: #000;
  font-weight: bold;
}

.news .excerpt {
  font-size: 15px;
}

.sidebar .widget:not(:last-child) {
  padding-bottom: 63px;
}

.widget-title{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.widget-title:after {
  display: block;
  content: '';
  width: 66px;
  height: 3px;
  background: #b59f5b;
  margin: 14px auto 0;
}

.latest-news .article {
  display: flex;
  margin-bottom: 27px;
}

.latest-news .article:last-child{
  margin-bottom: 0;
}

.latest-news .image {
  width: 70px;
  display: block;

  margin-right: 18px;
}

.latest-news .date {
  display: block;
  font-size: 12px;
  color: #888;
  line-height: 1;
  margin-bottom: 4px;
}

.latest-news .title {
  margin: 0;  
  line-height: 18px;
}

.latest-news .title a {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.latest-news .title a:hover {
  color: #b59f5b;
}

.form {
  display: flex;
}

.form .input {
  padding: 16px;
  background-color: #f4f7f6;

  border: none;
  outline: none;
  border: #f4f7f6 solid 1px;
}

.form .input:focus {
  border: #b59f5b solid 1px; 
  outline: 0;
}

form .input:placeholder {
  color: #939594;
  font-size: 13px;
}

.form .button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;

  border: none;
  outline: none;

  cursor: pointer;
  
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  background: #b59f5b;
  color: #fff;

  text-transform: uppercase;
}

.form .button:hover {
  background: #323232;
}

/*
.form .label {
  display: flex;
  flex: 1;
}
*/

.searchform .input {
  width: 100%;
}

.searchform .input:focus {
  border-right: 0;
}

.searchform .button {  
  width: 49px;  
}

.searchform .icon {
  width: 18px;
}

.newsletter form {
  flex-direction: column;
}

.newsletter input {
  margin-bottom: 18px;
  width: 100%;
}

.tags .list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.tags .list-item {
  margin: 0 5px 5px 0;
}

.tags .list-item:last-child {
  margin: 0;
}

.tags .list a {
  display: block;  
  
  padding: 4px 12px;
  border: 2px solid #eee;

  font-size: 12px;
  font-weight: bold;
  color: #000; 
  
  text-transform: uppercase;
}

.tags .list a:hover {
 border-color: #b59f5b
}

.categories .list li {
  padding-bottom: 12px;
  margin-bottom: 18px;

  font-weight: bold;

  border-bottom: 1px solid #eee;
}

.categories .list a {
  font-size: 14px;
  color: #000;
}

.categories .list a:hover {
  color: #b59f5b;
}

.categories .list .sup {
  position: relative;
  top: -5px;

  font-size: 12px;
  color: #b59f5b;
}

.products .widget-title {
  margin: 0;
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.products__item {
  padding: 1.45rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.products__image {
  padding: 0 1.2rem;
}

.products__image .image {
  max-width: 100%;
}

.products__info {
  outline: 2px solid #b59f5b;
  outline-offset: 0.5rem;

  margin-top: -30px;
  padding: 40px 1.2rem 1rem 1.2rem;
}

.products__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.products__title a {
  color: inherit;
}

.products__description {  
  margin-bottom: 20px;
  font-size: 0.88rem;
}

.products__description a {
  color: #b59f5b;
}

.products__commerce {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__prices {
  text-align: center;
  font-weight: bold;
}

.products__old-price {
  text-decoration: line-through;
  font-size: 0.88rem;
}

.products__price {
  font-size: 1.25rem;
}

.products__shop-link {
  display: block;
  padding: 15px 30px;
  background: #b59f5b;
  color: #fff;

  font-size: 0.88rem;
  font-weight: bold;
  text-transform: uppercase;
}

.products__shop-link a {
  color: white;
}

.social {
  display: flex;
  justify-content: center;

  padding: 30px 0;
  margin-bottom: 74px;

  background: #eee;
}

.social .list {
  display: flex;
}

.social .list li:not(:last-child) {
  margin-right: 25px;
}

.social .icon {
  display: block;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.icon-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.icon-twitter {
  background-image: url("../svg/004-twitter.svg");
}


.icon-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.copyright p{

  font-size: 12px;
  font-weight: bold;
  color: #999;

  text-align: center;
}

.copyright a {
  color: #999;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: auto;
}

._hidden {
  display: none;
}

/*
*
* Popup
*
*/

.popup:not(._hidden) {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 2;
}

.popup-container {
  max-width: 390px;
  width: 95%;
  
  background-color: #ffffff;
  position: relative;
}

/* button close */

.popup-close {
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;  
}

.popup-close:before, .popup-close:after {
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup-close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-container {
  font-size: 15px;
}

.popup-close {
  width: 1.87em;
  height: 1.33em;
  font-size: 1em;

  position: absolute;
  top: -2em;
  right: 0;  
}

@media (max-width: 480px) {
  .popup-close {
    font-size: 0.9em;
  }
}

.popup-close:before, .popup-close:after {
  width: 1.87em;
  height: 0.27em;
}

.feedback {
  padding: 35px 30px 50px;
}

.feedback-form {
  flex-flow: column wrap;
}

.feedback-row {
  margin-bottom: 25px;
}

.feedback-label {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.feedback-form .input {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-family: inherit;
}

.feedback-field_visits {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../images/select_arrow.png") no-repeat 95% 50%;
}

.radio-group-text::before {
  content: "";
  display: inline-block;

  width: 18px;
  height: 18px;

  background-image: url("../images/radio_unchecked.png");
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 18px;
}

.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;
}

.radio-group-text::before {
  margin-right: 8px;
}

.radio-group {
  display: inline-block;
  font-size: 13px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 13px;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url("../images/radio_checked.png");
}


/*
*******************
*                 *
*  Media queries  *
*                 *
*******************
*/

@media (min-width: 641px) and (max-width: 1200px), (max-width: 640px) and (orientation: landscape) {
  .trends__item {
    width: calc(50% - 1px);
  }  
}

@media (min-width: 1024px) and (orientation: landscape), (min-width: 1201px) {
  .trends__item {
    width: calc(25% - 1px);
  }  
}
@media (max-width: 641px) {
  .main-header {
    padding: 220px 16px;
    text-align: center;
  }

  .news .article {    
    margin-bottom: 40px;
  }

  .news .header {  
    margin-bottom: 20px;
  }

  .news .title {
    margin: 0 0 20px;
  
    line-height: 24px;
  }
}

@media (min-width: 641px) {
  .main-header {
    padding: 28px 16px 146px;
    background: url("../images/banner-bg-tablet.jpg") black no-repeat bottom left;
    background-size: cover;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  
    margin-bottom: 80px;
  }

  .blog-title .h1{    
    padding-top: 0;
  }
  
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }

  .main-content {
    display: flex;
    padding-top: 50px;
  }

  .main {      
    margin-right: 35px;
    margin-bottom: 50px
  }
  
  .trends__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news .article {    
    margin-bottom: 50px;
  }

  .news .header {  
    margin-bottom: 40px;
  }

  .products {
    margin-bottom: 50px;
  }

  .products__item {
    max-width: 50%;
  }

  .right-sidebar {
    width: 272px;
    min-width: 272px;
  }
}

@media (min-width: 1024px) {
  .header-nav__button {
    display: none;
  }

  .header-nav .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .news .article {
    flex-wrap: nowrap;
    margin-bottom: 60px;
  }

  .news .article__image {
    flex-shrink: 0;
  }
}

@media (max-width: 1201px) {
  .news .article {
    border-bottom: 2px solid #eee;
  }
}

@media (min-width: 1201px) {
  .main-header {
    background: url("../images/banner-bg.jpg") black no-repeat center center;
    background-size: cover;
  }

  .blog-title .h1{
    font-size: 45px;
    line-height: 75px;
  }

  .main-content {    
    display: flex;
    padding-top: 60px;
  }

  .main {
    margin-right: 60px;
    margin-bottom: 65px
  }  

  .news .header {  
    margin-bottom: 50px;
  }

  .news .title {
    margin: 0 0 35px;
  
    line-height: 24px;
  }

  .products {
    margin-bottom: 60px;
  }

  .products__wrapper {
    justify-content: space-between;
  }

  .products__image {
    padding: 0;
  }

  .products__info {
    outline-offset: 1.2rem;
    padding:0;
    padding-top: 40px;
  }

  .products__item {
    max-width: 30%;
  }
  
  .products__title {    
    font-size: 1.25rem;
  }
}

